@model UIAWebApp.Models.BookingTicket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airport.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airport.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirTicketDetail.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirTicketDetail.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flight.FlightDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.FlightDepart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
