@model UIAWebApp.Models.Airport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AirportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
